@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #303640;
}

.container {
    margin: 50px auto;
    width: 85%;
    display: flex;
    text-align: center;
}

.btn {
    margin: 0 auto;
    text-align: center;
}

.quotes {
    font-family: 'Lobster';
    width: 800px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    color: rgba(227, 220, 220, 0.867);
    background-color: #303640;
    border: 1px solid rgba(255, 255, 255, 0.05) ;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}



.quotes p, .quotes h3 {
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .quotes p, .quotes h3 {
        font-size: 1rem;
    }
}

/* For button */

/* button {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: rgba(227, 220, 220, 0.867);
    background-color: #303640;
    border: 1px solid rgba(255, 255, 255, 0.05) ;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
   }
   
   button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   button::after {
    background-color: #303640;
   }
   
   button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   } */